.block {
    height: 98%;
    width: 100%;
    margin-top: 24px;
}

.window {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.input {
    height: 46px;
    width: 100%;
}

.inputBlock {
    height: 44px;
    width: 80%;
    z-index: 2;
    margin: 0 14px 0 0;
    font-size: 18px;
    font-family: 'Segoe print';
    border: none;
    border-bottom: 1px solid #ECC939;
    outline: none;
}

.inputBlock:hover, .inputBlock:focus {
    border-bottom: 3px solid #ECC939;
}

.sendButton {
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 40px;
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to left, #DB2001, #EC7301);
}

.sendButton:active, .sendButton:focus {
    outline: none;
}

.sendButton:hover {
    width: 140px;
    height: 50px;
    border-radius: 30px;
}

.buttonText {
    font-family: 'Segoe print';
    font-size: 14px;
    color: white;
}

.emptyBlock {
    font-family: 'Segoe print';
    font-size: 28px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.startChatText {
    justify-content: center;
    margin: 0 200px;
}

.emptyText {
    margin-top: 40px;
}

.emptyImage {
    height: 350px;
    width: 350px;
    margin: 40px 230px;
    object-fit: cover;
}