.fromMe {
    text-align: -webkit-right;
    margin-bottom: 8px;
    width: 100%;
}

.notFromMe {
    text-align: -webkit-left;
    margin-bottom: 8px;
    width: 100%;
}

.text {
    width: max-content;
    max-width: 50%;
    border-radius: 5px;
    padding: 12px 16px;
    word-break: break-all;
}

.fromMe .text {
    background-color: rgba(255, 183, 116, 0.733);
}

.notFromMe .text {
    background-color: rgba(252, 217, 121, 0.788);
}