.frukt-login-first-input {
    margin-bottom: 24px;
}
  
  .frukt-login-title {
    font-size: 20px;
    color: #999;  
    line-height: 35px;
    margin-bottom: 6px;
}
  
.frukt-login-input {
    width: 300px;
    height: 54px;
    font-family: 'Segoe print';
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #ECC939;
    outline: none;
}
  
.frukt-login-input:hover, .frukt-login-input:focus {
    border-bottom: 2px solid #ECC939;
}